---
format:
  html:
    code-fold: true
jupyter: python3
---

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://githubtocolab.com/allegheny-college-cmpsc-105-spring-2025/site/blob/main/code/data_wrangling_activity.ipynb)

# Data Wrangling Activity

![](https://cdn.prod.website-files.com/6064b31ff49a2d31e0493af1/66f3caad055f0798273a7f4f_664deb56e0bafd02151740eb_T-Qh9BoT4c2Drnwsm3A6EU9lVejrOecvUm8zz7w3ax-XZUh9qJ2DNYv9m-ScnOOlzL6X9D3CUjJXakkys61p9-C15trG5jWTjdF8RJ5OMr3lgMHwfmCjU6cURlh51UC_ge8sqcFgxMXVEity0499RL0.png)

In [ ]:
# This teaching content has been adpated from: https://github.com/AlexTheAnalyst/PandasYouTubeSeries/tree/main

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Get wrangling data raw url from course site repo (https://github.com/allegheny-college-cmpsc-105-spring-2025/site)

df = pd.read_csv(
    '',
    sep=',',
    skiprows=0
)

In [ ]:
# Display the first few rows of the DataFrame
df.head()

# Display "all" (but middle rows may be skipped for large datasets)
df

- TODO: In the variable explorer (`{x}`), what Shape does the variable `df` have? Write your response here:

In [ ]:
# Check the number of rows and columns, i.e. shape

df.shape

In [ ]:
# Check the data types INSIDE the DataFrame
# df.dtypes

# Check the data type of an entire object
# type(df['Column'])
# type(df)

In [ ]:
# Make sure we understand what is the 0th row

# df.iloc[rows, columns]

# Putting one row alone will return all columns by default as a SERIES!
# df.iloc[row]

# Putting one row in brackets will return all columns by default as a DataFrame!
# df.iloc[[row]]

# Using slicing to access multiple rows will create a DataFrame
# df.iloc[rowstart:rowend]

In [ ]:
# Check column names

df.columns

In [ ]:
# Rename columns for brevity and consistency

# Method 1, overwrite all
# df.columns = ['X', 'Y', 'Z']

# Method 2, rename individuals
# df = df.rename(columns={'A': 'X', 'B': 'Y', 'C': 'Z'})

df.rename(columns = {'Paying Customer':'Paying_Customer'})

In [ ]:
# remove duplicate rows

# # By Hand Incorrect
# df.iloc[0:19,:] + df.iloc[20,:]

# By Hand Correct
# pd.concat([df.iloc[0:19,:], df.iloc[[20],]])

# Using a preexisting function
# df.drop_duplicates()

In [ ]:
# Regular expression basics:

# - `[]` Groups together characters to search for
# - `[^...]` Negation (matches anything not inside the brackets).
# - `a-z` Matches lowercase letters a to z.
# - `+` Matches one or more occurrences of the unwanted characters.

In [ ]:
# TODO: Write out what this regular expression does to clean df["Phone_Number"]

df["Phone_Number"].str.replace('[-/|a-zA-Z]+','', regex=True)

In [ ]:
# TODO: What problems would you encounter trying to clean this df2 below?

df2 = pd.DataFrame({
    "phone": [
        "555-234-5678", "(555) 234-5678", "555.234.5678", "555/234/5678",
        15551234567, "(1) 555-234-5678", "+1 (234) 567-8901 x. 1234",
        "2345678901 extension 1234", "2345678", "800-299-JUNK", "1-866-4ZIPCAR",
        "123 ABC COMPANY", "+66 91 889 8948", "hello", np.nan, "NULL"
    ]
})
df2

In [ ]:
# Use Split to break up long strings into new columns
# df[['New_Column1', 'New_Column2', 'etc']] = df['Column'].str.split('your delimiter', expand=True)

In [ ]:
# Get Rid of uneccessary information
# df.drop(columns=['Bad_Col1','Bad_Col2', 'etc'])

In [ ]:
# Standardizing Variables
# df['Column'] = df['Column'].str.replace('Old_thing','New_thing')

In [ ]:
# Coding Categorical Variables

# Keeping everything in one column
# df['New_Column'] = df['Column'].replace({'Resp1': 1, 'Resp2': 0, 'Resp3': 2})

# Multiple Columns for One Hot Coding
# pd.get_dummies(df, columns=['Column'])

In [ ]:
# Filling NaN
# df.fillna('') removes NaN
# df.replace('', np.nan) adds NaN

In [ ]:
# TODO: Filter out rows that say DO NOT CALL TRUE

In [ ]:
# TODO: Filter out rows where there is not a valid phone number

In [ ]:
# TODO: Use one hot representation and filtering to figure out how many characters live on avenues, how many on streets, etc.

## Discord Post

TODO: Don't forget to ask questions in Discord. One Discord post per week is required.

## Submit this completed activity to your activities repository